@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fira+Code:wght@300..700&display=swap');

html,body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    background-color: #011627;
    font-family: "Fira Code", monospace;
}
#mainContainer {
    display:flex;
    flex-direction: row;
}
header {
    height:3.5rem;
    display:flex;
    align-items: stretch;
    position:fixed;
    border-bottom: 1px solid #30363d;
}
.header__element{
    color: white;
    align-self: center;
    border: 1px solid #30363d;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: row;
    height:100%;
}
#header__name {
    width:20rem;
    color: #43d9ad
}   

#header__greeting {
    width:12rem;
}

#header__description {
    width:12rem;
}

#header__projects {
    width:15rem;
}

#header__blankSpace {
    width:calc(100vw - 70rem); 
}
#header__contactMe{
    width:11rem;
}
footer {
    height:3.5rem;
    width:100vw;
    display:flex;
    justify-content: center;
    top:calc(100vh - 3.5rem);
    position:fixed;
    justify-content: center;
    border-top: 1px solid #30363d;
}

.footer__element {
color:white;
height:100%;
display:flex;
align-items: center;
margin-right: 3rem;
}

.footer__img{
    height:100%;
}

#footer__findmein{
    color: #43d9ad;
}

.header__buttonSelected {
    border-bottom: 3px solid #43d9ad;
}

#middleContainer {
    margin-top: 4rem;
    height:calc(100vh - 7rem);
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: center;
}
#main__introduction{
    
    color:white;
    display:flex;
    flex-direction:column;
}
.main__introduction__left {
    width:fit-content
}

.myName {
    font-size:7rem;
    padding:0;
    margin:0;
}
.profession {
    color: #314291;
    font-size:3rem;
    margin:0.1rem;
    margin-bottom: 1rem;
}
.greeting {
    font-size:2rem;
}
.introduction__comment {
    color: #5a768f;
    margin:0;
    font-size:2rem;
}

.introduction__const {
    color:#314291;
    font-weight: bolder;
}

.introducion__codeLine {
    font-size: 1.5rem;
    margin:0;
    margin-bottom:1rem;
}

.introduction__string {
    color: #dc8c82;
}

